/* #main-site {
    height: 100%;
} */

html, body, main {
    /*background-image: url("../img/cat\ hotel.jpg");
    background-size: 100% 100%;
    height: 100%;
    margin: 0;*/
    height: 100%;
}

 .content {
    /* border: 0.2em solid black;
    background-color: white;
    margin: 5px;
    padding: 5px;
    overflow: hidden; */
    background-image: url("../img/cat\ hotel.jpg");
    background-size: 100% 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

/*.owner-div {
    float: left;
    margin: 0.2em;
}

.owner-image {
    max-width:100%;
    max-height:100%;
}

#password-label {
    color: red;
}

.margin-bottom {
    margin-bottom: 0.3em;
}

.float-right {
    float: right;
}

@media screen and (max-width: 480px) {
    .float-right {
      float: none;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .float-right {
      background-color: rgb(242, 255, 0);
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .owner-div {
        float: left;
    }
} */